.heroSection {
  background-image: url('/images/svg/bghero.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(252, 251, 194, 0.226));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &::after {
    content: '';
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.textGradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}
