html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-color: #fff;
  font-family: 'Inter';

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
select {
  cursor: pointer;
}

button,
input {
  overflow: visible;
}

a,
a:hover {
  text-decoration: none;
}

iframe {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

hr {
  position: relative;
  width: 50%;
  margin: auto;
  display: block;
  border: 0;
  border-radius: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(230, 247, 0, 0.1),
    #007cf0,
    rgba(0, 223, 216, 0.1)
  );
  overflow: visible;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 0.75rem;
    width: 0.75rem;
    background-color: #00172e;
  }
}

* {
  box-sizing: border-box;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1.5rem;
  transition: 150ms all;
}

.btn-outline {
  color: #fff;
  background: #000;
  border: 1px solid transparent;

  &:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
}

.btn-gradient {
  position: relative;

  a {
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: #0d94d24d 0px 10px 50px;
    width: 100%;

    &:hover {
      background: linear-gradient(165deg, #007cf0, #00dfd8);
      color: #fff;
    }
  }

  .layer-gradient {
    content: '';
    border-radius: 0.25rem;
    height: 100%;
    position: absolute;
    inset: 0;
    width: 100%;
    background-image: linear-gradient(-165deg, #007cf0, #00dfd8);
    z-index: -1;
  }
}

// Text desc rule
.text-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
}

.card {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;

  a.item {
    text-decoration: none;
    display: flex;
    align-items: stretch;
    height: 100%;

    .box {
      position: relative;
      border-radius: 0.25rem;
      flex: 1 1;
      background-color: #fafafa;
      transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent, 0 12px 24px transparent;

      &:hover {
        background: #fff;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 2px 4px rgb(0 0 0 / 5%),
          0 12px 24px rgb(0 0 0 / 5%);
      }
      &::before {
        content: '';
        position: absolute;
        inset: -1px;
        border-radius: inherit;
        padding: 1px;
        background: radial-gradient(
          75% 75% at 25% 15%,
          rgba(0, 0, 0, 0.4) 0,
          rgba(0, 0, 0, 0.2) 100%
        );
        -webkit-mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
        mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}

.splide__pagination {
  bottom: -0.2em;
}

// Checkbox - Radio - Switch
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 0.25rem;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    &:checked {
      --s: 0.5;
    }
  }
}
